.current-date {
	font-size: 1.2rem;
	font-weight: bold;
	width: 10rem;
}
.normal {
	color: blueviolet;
	background-color: white;
}
.inverse {
	color: white;
	background-color: blueviolet;
}
img {
	width: 500px;
	height: auto;
}
